<hr />
<footer class="container footer">
  <div class="row">
    <div class="col-md-3">
      <ul>
          <a href=""
            ><img style="width: 250px" src="assets/logo.png" alt=""
          /></a>
      </ul>
    </div>
    <div class="col-md-3">
      <ul>
        <li><a href="">Chính sách bảo mật</a></li>
        <li><a href="#">Chính sách trả hàng và hoàn tiền</a></li>
        <li>
          <p>Liên hệ</p>
        </li>
        <li>
          <p>
            Công ty cổ phần đầu tư dịch vụ và thương mại Home Service Việt Nam
          </p>
        </li>
        <li>
          <p>"Đại Học FPT Quy Nhơn AI Campus"</p>
        </li>
        <li>
          <p>Hotline: 09347626453</p>
        </li>
        <li>
          <p>Email: homeservice@gmail.com</p>
        </li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul>
        <li>
          <a href="">Điều khoản dịch vụ</a>
        </li>
        <li><a href="#">Chính sách vận chuyển</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul>
        <p style="font-weight: 600;">Tìm Home Service</p>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15498.339271380511!2d109.219145!3d13.803884!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x316f6bf778c80973%3A0x8a7d0b5aa0af29c7!2zxJDhuqFpIGjhu41jIEZQVCBRdXkgTmjGoW4!5e0!3m2!1svi!2s!4v1694830881394!5m2!1svi!2s"
          width="270px"
          height="270px"
          style="border: 0; padding-top: 20px"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </ul>
    </div>
  </div>
</footer>
<div class="ender">
  <hr />
  <p>
    Home-service offers house cleaning, apartment cleaning, and office cleaning
    services. <br />

    © 2023 Homeservice.vn
  </p>
</div>
