<div class="header row g-0">
  <div class="col-md-1"></div>
  <div class="col-md-3 header-element header-slogan">
    <p class="slogan">Excellence in Cleanliness.</p>
    <p class="slogan">Every Space</p>
    <p class="slogan">Every Time</p>
  </div>

  <div class="col-md-4 header-element header-logo">
    <a class="header-brand" href="#">
      <img src="assets/logo.png" />
    </a>
  </div>

  <div class="col-md-3 header-button header-element">
    <button class="" href="#" (click)="onOpenLogin()">Login</button>
    <button class="" href="#" (click)="onOpenSignUp()">Sign Up</button>
  </div>
  <div class="col-md-1"></div>
</div>
