@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");

/* Áp dụng CSS cho các liên kết có lớp .home-link */
.header {
  height: 15%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-element {
  height: 100%;
}

.header-slogan {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.slogan {
  font-family: "Croissant One";
  font-size: 20px;
  color: rgb(76, 195, 217);
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-brand {
  height: 100%;
}
.header-brand img {
  height: 100%;
}

.header-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-button button {
  width: 40%;
  height: 30%;

  background-color: rgb(76, 195, 217);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.header-button button:hover {
  background-color: rgb(59, 129, 221);
  /* Màu nền khi hover */
  color: #fff;
  /* Màu chữ khi hover */
}
