<div class="header row g-0">
  <div class="col-md-1"></div>
  <div class="col-md-3 header-element header-slogan">
    <p class="slogan">Excellence in Cleanliness.</p>
    <p class="slogan">Every Space</p>
    <p class="slogan">Every Time</p>
  </div>

  <div class="col-md-4 header-element header-logo">
    <a class="header-brand" routerLink="workers">
      <img src="assets/logo.png" />
    </a>
  </div>

  <div class="col-md-3 header-button header-element">
    <button *ngIf="!isLoggedIn" (click)="onOpenLogin()">Login</button>
    <button *ngIf="!isLoggedIn" (click)="onOpenSignUp()">Sign Up</button>
    <!-- LOGGED IN -->
    <button *ngIf="isLoggedIn && !isAdmin" (click)="onOpenProfile()">
      Profile
    </button>
    <button *ngIf="isLoggedIn && isAdmin" (click)="onOpenProfile()">
      Admin
    </button>
    <button
      *ngIf="isLoggedIn"
      (click)="onLogOut()"
      style="background-color: #ccc"
    >
      Log out
    </button>
    <!-- END LOG IN -->
  </div>
  <div class="col-md-1"></div>
</div>
