<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-12">
      <div class="input-group stylish-input-group">
        <input
          type="text"
          id="inputField"
          name="inputField"
          class="form-control"
          placeholder="Tìm kiếm với tên, khu vực, công việc"
        />
        <span class="input-group-addon">
          <button type="submit">
            <span class="fa fa-search"></span>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
<!-- LIST -->
<div class="container mt-3">
  <h2 style="text-align: center; margin-bottom: 30px">
    Giúp việc được đề xuất
  </h2>
  <div class="row">
    <!-- Sản phẩm 1 -->
    <div class="col-lg-4 col-md-4 col-sm-6 mb-4" *ngFor="let worker of workers">
      <div class="card">
        <img src="assets/placeholder.jpg" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title" style="font-weight: 500; font-size: 20px">
            {{ worker.name }}
          </h5>
          <h5 class="card-title">{{ worker.address }}</h5>

          <a href="#" class="card-btn btn btn-primary">
            Book {{ worker.fee | currency : "VND" }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8" style="display: flex; justify-content: center">
    <ngb-pagination
      [(page)]="currentPage"
      [pageSize]="pageSize"
      [collectionSize]="totalElements"
      (pageChange)="listWorkers()"
      [maxSize]="4"
      [boundaryLinks]="true"
    >
    </ngb-pagination>
  </div>
  <div class="col-md-2"></div>
</div>
