<div class="nav-container">
  <div class="nav-column">
    <div class="title">
      <a>Admin</a>
    </div>
    <hr style="border: 2px solid #f1574a; opacity: 0.7" />
    <div class="object">
      <a routerLink="/admin/order" routerLinkActive="select">Order</a>
      <a routerLink="/admin/worker" routerLinkActive="select">Worker</a>
      <a routerLink="/admin/account" routerLinkActive="select">Account</a>
      <a routerLink="/admin/notification" routerLinkActive="select">
        Notification
      </a>
    </div>
  </div>
</div>
