<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap"
  rel="stylesheet"
/>

<div style="font-family: Poppins" class="container">
  <div class="row">
    <div class="col-md-3 column1">
      <div class="picture">
        <img src="assets/placeholder.jpg" alt="" />
        <h2 style="color: green">Ready to work</h2>
        <p>Working area:</p>
        <p>{{ currentWorker?.address }}</p>
      </div>
    </div>
    <div class="col-md-6 column2">
      <!-- Cột giữa (lớn nhất) -->
      <ul class="tieude">
        <li>
          <h1 style="font-family: Poppins">{{ currentWorker?.name }}</h1>
        </li>
        <li>
          <button class="follow" style="cursor: default">
            <i class="fa-regular fa-heart"></i> {{ workerTag }}
            <!-- tags -->
          </button>
        </li>
      </ul>
      <!-- ----------------------------------------- -->

      <ul class="status">
        <li>
          <p>Average rate</p>
          <p>{{ currentWorker?.averageRate }}</p>
        </li>
        <li>
          <p>Experience</p>
          <p>{{ currentWorker?.countOrder }}</p>
        </li>
        <li>
          <p>Response time</p>
          <p>Within 10mins</p>
        </li>
        <li>
          <p>Note</p>
          <p>None</p>
        </li>
      </ul>
      <hr style="margin: 0 20px" />

      <!-- ----------------------------------------- -->
      <div class="ability">
        <p
          class="ability-element"
          *ngFor="let c of currentWorker?.chores"
          matTooltip="{{ c.description }}"
        >
          {{ c.name }}
        </p>
      </div>
      <hr style="margin: 0 20px" />
    </div>

    <div class="col-md-3 column3">
      <!-- Cột bên phải -->
      <div class="thue-donate-chat">
        <h1>{{ currentWorker?.fee | currency : "VND" }} /h</h1>
        <!-- <p>
          <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i> 148 đánh giá
        </p> -->
        <p>
          <i
            class="fa-solid fa-star"
            *ngFor="let r of ratedStar"
            style="color: #f1574a"
          ></i>
          <i class="fa-regular fa-star" *ngFor="let r of leftOverStar"></i>
        </p>
        <div class="button-container">
          <button (click)="onHireWorker()" class="thue">
            Hire this worker
          </button>
        </div>
        <!-- <div class="button-container">
          <button class="donate">Donate</button>
        </div>
        <div class="button-container">
          <button class="chat">Chat</button>
        </div> -->
      </div>
    </div>
  </div>
</div>
<!-- ----------------------------------------- -->

<div style="font-family: Poppins" class="comments">
  <hr style="margin: 0 20px" />
  <!-- ----------------------------------------- -->
  <div class="comment" *ngFor="let c of currentWorker?.reviews">
    <div class="comment-header">
      <img src="assets/reviewer.jpg" alt="Avatar" class="avatar" />
      <span class="username">{{ c.guestName }}</span>
      <span class="comment-date">{{ c.date }}</span>
    </div>
    <p class="comment-rate">
      {{ c.rate }}
      <i class="fa-solid fa-star fa-spin" style="color: #f1574a"></i>
    </p>
    <p class="comment-text">{{ c.content }}</p>
  </div>
  <!-- ----------------------------------------- -->
</div>
