mat-form-field {
  padding: 5px;
  width: 100%;
}
mat-dialog-actions {
  padding-right: 24px;
  margin-bottom: 10px;
}
mat-dialog-actions button {
  margin-right: 5px;
}

.otp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 20px;
}
