<mat-toolbar>
  <mat-toolbar-row fxLayout="row">
    <span>Becoming a SUPER CLEANER</span>
    <span class="spacer"></span>
    <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="signUpForm">
    <div fxFlex fxLayout="column">
      <!-- email -->
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required />
        <mat-error
          *ngIf="
            signUpForm.controls.email.touched &&
            signUpForm.controls.email.invalid
          "
        >
          <span *ngIf="signUpForm.controls.email.errors.required"
            >This field is mandatory</span
          >
          <span *ngIf="signUpForm.controls.email.errors.pattern"
            >This field is invalid</span
          >
        </mat-error>
      </mat-form-field>
      <!-- fullName -->
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Full Name</mat-label>
        <input matInput formControlName="fullName" required />
        <mat-error
          *ngIf="
            signUpForm.controls.fullName.touched &&
            signUpForm.controls.fullName.invalid
          "
        >
          <span *ngIf="signUpForm.controls.fullName.errors.required"
            >This field is mandatory</span
          >
          <span *ngIf="signUpForm.controls.fullName.errors.pattern"
            >This field is invalid</span
          >
        </mat-error>
      </mat-form-field>
      <!-- password1 -->
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password1"
          required
          [type]="hide1 ? 'password' : 'text'"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide1 = !hide1"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="'hide'"
        >
          <mat-icon>{{ hide1 ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error
          *ngIf="
            signUpForm.controls.password1.touched &&
            signUpForm.controls.password1.invalid
          "
        >
          <span *ngIf="signUpForm.controls.password1.errors.required"
            >This field is mandatory</span
          >
          <span
            *ngIf="
              signUpForm.controls.password1.errors.minlength ||
              signUpForm.controls.password1.errors.maxlength
            "
            >This field length must be between 6-18</span
          >
        </mat-error>
      </mat-form-field>
      <!-- password 2 -->
      <!-- password2 -->
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          formControlName="password2"
          required
          [type]="hide2 ? 'password' : 'text'"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide2 = !hide2"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="'hide'"
        >
          <mat-icon>{{ hide1 ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error
          *ngIf="
            signUpForm.controls.password2.touched &&
            signUpForm.controls.password2.invalid
          "
        >
          <span *ngIf="signUpForm.controls.password2.errors.required"
            >This field is mandatory</span
          >
          <span
            *ngIf="
              signUpForm.controls.password2.errors.minlength ||
              signUpForm.controls.password2.errors.maxlength
            "
            >This field length must be between 6-18</span
          >
          <span *ngIf="signUpForm.controls.password2.errors.confirmedValidator">
            Passwords are not match.
          </span>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-raised-button
    color="primary"
    (click)="handleSubmitSignUp()"
    type="submit"
    [disabled]="!(signUpForm.valid && signUpForm.dirty)"
  >
    <mat-icon>mail</mat-icon> Signup
  </button>
  <button mat-raised-button color="warn" mat-dialog-close="">
    <mat-icon>cancel</mat-icon>Close
  </button>
</mat-dialog-actions>
